<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Check In On Me, <%= @patient.name %></h1>
    <p>
      You have been signed up to Check In On Me.
      Please check in every day Before Noon to this address.

      Bookmark this page:
      <%= @url %><br/>
    </p>
    <p>
      To "Check In" to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day.</p>
  </body>
</html
