</div>
   <div class="jumbotron">
      <div class="container">
        <h2>Check In On Me</h2>
        <p>Daily Check-Ins for your loved-ones and patients from their mobile device or computer.</p>
        <p><a class="btn btn-primary btn-hg" href="/account/sign_up" role="button">Get Started &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Easy Check-Ins</h4>
          <p>Patient "checks in" daily by clicking one button, no logging in necessary.</p>
        </div>
        <div class="col-md-4">
          <h4>Piece of Mind</h4>
          <p>Make sure your loved-ones are doing OK every day without having to contact them daily.</p>
       </div>
        <div class="col-md-4">
          <h4>Health Tracking</h4>
          <p>Patients can leave notes on their current health states and moods. View them whenever you want. Great for long-term tracking.</p>
        </div>
      </div>
    </div>

