<p id="notice"><%= notice %></p>

<p>
  <strong>Thank You FOr Checking In
</p>

<p>
  <strong>Message:</strong>
  <%= @checkin.message %>
</p>

<%# link_to 'Back', patient_checkins_path(@patient) %>


